
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Smooch&display=swap');

/* =============All colors used============================*/
:root {
    --color-gray-0: #f5f5f9;
    --color-gray-50:#e3e6e8;
    --color-gray-100:#cbcfd2;
    --color-gray-200:#adb3b8;
    --color-gray-300:#9ba1a9;
    --color-gray-400:#777c82;
    --color-gray-500:#63676b;
    --color-gray-600:#4c5054;
    --color-gray-700:#2c3236;
    --color-gray-800:#1e2125;
    --color-gray-900:#101213;
    --color-primary:#8e6ee6;
    --color-primary-variant:#229de9;
    --color-danger:#df4969;
    --color-success:#1ca5a5;
    --color-info:#ffcd56;
    --color-purple:rgb(166, 27, 191);

    .dark {
     --color-gray-0: #152039;
    --color-gray-50:#0b0d10;
    --color-gray-100:#26262b;
    --color-gray-200:#3c3c3e;
    --color-gray-300:#696969;
    --color-gray-400:#54555b;
    --color-gray-500:#777982;
    --color-gray-600:#82848b;
    --color-gray-700:#aaacb6;
    --color-gray-800:#c0c4cc;
    --color-gray-900:#e2e6ec;
        
    }


/* =============transition variable============================*/
    --transition: all 300ms ease;


/* =================Radius used ============================*/
    --radius-1: 0.4rem;
    --radius-2: 0.4rem;
    --radius-3: 0.4rem;
}
/* -------------------------default settings---------------------------*/
*{
    margin:0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    outline: 0;
    background: transparent;
    border: none;
}

body{
    font-family: "montserrat",sans-serif;
    max-width: 100vw;
    background: var(--color-gray-50);
    padding: 1rem;
    display: flex;
    gap: 1.5rem;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--color-gray-600);
    line-height: 1.6;
    transition: var(--transition);

}

/* =================links  ============================*/
a{
    color:var(--color-gray-600);
    transition: var(--transition);

}

/* ================= button==============================*/
button{
    cursor: pointer;
}

/* =================image features ============================*/

img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* =================heading features ============================*/ 
h1, h2, h3, h4, h5 {
    color: var(--color-gray-900);
    font-weight: 600;
    line-height: 1.2;
}
 /* =================heading features ============================*/

h1{
    font-size: 2.4rem;
}

h2{
    font-size: 1.6rem;
}
h3{
    font-size: 1.1rem;
}
h4{
    font-size: 1rem;
}
h5{
    font-size: 0.8rem;
}

/* ================= class danger============================*/
.danger{
    color: var(--color-danger);
}

/* ================= class success ============================*/
.success{
    color: var(--color-success);

}

/* =================Side bar ============================*/
.sidebar {
    display: flex;
    flex-direction: column;
    height: 97vh;
    justify-content: space-between;
    min-width: fit-content;
    width: 12rem;

}

/* =================Side bar logo ============================*/
.sidebar_logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

/* =================Side bar logo  and image features ============================*/
.sidebar_logo img{
    width: 2.4rem;
    background: var(--color-gray-0);
    padding: 0.5rem;
    border-radius: var(--radius-2);
}

.sidebar_logo h3{
    font-size: 1.4rem;
    letter-spacing: -1px;
    font-weight: 700;
}

.sidebar_logo h3 span {
    color: var(--color-primary)

}
.sidebar_logo h3 span {
    color: var(--color-primary)

}


.sidebar_top , .sidebar_bottom {
    display:flex;
   flex-direction: column;
   gap: 0.3rem;


}

.sidebar_top a, .sidebar_bottom a{
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 0.6rem;
    padding: 0.8rem;


}

.sidebar_top a:hover, .sidebar_bottom a:hover{
    transform: translateX(1rem);
    background: var(--color-gray-0);
}

.sidebar_top a i, .sidebar_bottom a i{
    font-size: 1rem;
    color: var(--color-gray-500);
     
}

.sidebar_top a h5, .sidebar_bottom a h5{
   color: var(--color-gray-500);
  
}

.sidebar a.active{
    background: var(--color-primary);
    color: var(--color-gray-0);


}
.sidebar a.active i, .sidebar a.active h5{
    color: var(--color-gray-0);
}

 .sidebar_toggle_open,

.sidebar_toggle_close {
    display:none;
   }


/* =================Nav  Bar ============================*/
main{
    width: 100%;
   
}

.nav_bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.navbar_search{
    background: var(--color-gray-0);
    width: 35rem;
    padding: 0.8rem;
    border-radius: var(--radius-2);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 0.5rem;  
}

.navbar_search input{
   
    width: 100%;
    color: var(--color-gray-900);
    background: transparent;

}
.navbar_items{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navbar_items button{
    background: var(--color-gray-0);
    color: var(--color-gray-900);
    padding: 0.8rem 1rem;
    border-radius: var(--radius-2);
}

.navtheme_button{
    font-size: 1rem;
}

.navbarxplore_btn{
    margin-left: 0.8rem;
    
}

.navbaritems_image{
    width:2.6rem;
    aspect-ratio: 1/1;
    border-radius: var(--radius-2);
    overflow: hidden;
}


/* =================cards ============================*/

.main_wrapper{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}
h1{
    margin-top: 1rem;
}

.cards{
    margin: 0.7rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    align-items: center;
    
}
.card{
    background:linear-gradient(135deg, #aa49eb,#6009d1 );
    padding: 1rem 1.5rem;
    border-radius: var(--radius-2);
    color:white;
    position: relative;
    overflow: hidden;
    transition: var(--transition);
    cursor: default;
}
.card:nth-child(2){
      background:linear-gradient(135deg, #940cb6,#db32b1 );
}
.card:nth-child(3){
      background:linear-gradient(135deg, #2a11b9e1,#ca1fda );
}
.card:nth-child(4){
      background:linear-gradient(135deg, #9307b6,#1e0242e3 );
}
.card:hover{
    transform: translateY(1rem);
    box-shadow: 0 1rem 1rem var(--color-gray-100);
}

.card::before{
    content: "";
    display: block;
    position: absolute;
    right: -25%;
    top: 15%;
    height: 140%;
    background: linear-gradient(115deg, black, transparent);
    aspect-ratio: 1/1;
    border-radius: 50%;
    opacity: 0.3;


}
.card::after{
    content: "";
    display: block;
    position: absolute;
    right: -25%;
    top: 15%;
    height: 70%;
    background: linear-gradient(115deg, black, transparent);
    aspect-ratio: 1/1;
    border-radius: 50%;
    opacity: 0.3;


}

.card h5{
    color: #222;
}
.card h5 span{
   margin-left: 0.3rem;
   font-size: 0.7rem;
   
}
.card h2{
   margin: 1rem 0 1.8rem;
   color: #101213;

}
.card div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_left{
    color: #101213;
}


/* =================bar chart ============================*/
#chart{
    background: var(--color-gray-0);
    border-radius:var(--radius-2);
    padding: 2rem;
    width: 100%;
    height: 22rem;

}


/* =================bar chart ============================*/
.top_products{
    background: var(--color-gray-0);
    padding: 1rem;
    border-radius: var(--radius-2);
    width: 100%;
    margin: 1rem 0 2rem;
    

}

.top_products h3{
    text-align: center;
    margin-bottom: 1rem;

}


.top_products table {
    width: 100%;
    border-top: 1px solid var(--color-gray-100);
}

table thead th {
    padding: 0.5rem;
    color: var(--color-gray-900);
}

table tbody tr td:first-child {
    display: flex;
    gap: 1rem;
    align-items: center;

}

table tbody tr td {
 padding: 0.5rem;
 color: var(--color-gray-900);

}

table tbody tr:nth-child(odd){
    background: var(--color-gray-50);

}
table tbody tr div {
    width:  2rem;
    aspect-ratio: 1/1;
    border-radius: var(--radius-1);
    overflow: hidden;
}

.top_products small {
    text-align: center;
    display: block;
    cursor: pointer;
    padding: 0,5rem;
    border-radius: var(--radius-1);
    transition: var(--transition);
    color: var(--color-gray-900);

}

.top_products small:hover{
    background: var(--color-gray-50);
}

/**---------------------------- Top Categories------------------------**/
.top_categories{
    background:var(--color-gray-0) ;
    max-width: 100%;
    border-radius: var(--radius-2);
    margin: 1.5rem 0 1rem;
    padding: 1rem;
    
}
.top_categories header {
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.top_categories header i{
    font-size: 1rem;
}

#Categories{
    max-width: 100%;
    margin-top: -2rem;

}

.top_categories ul{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 0.6rem 0;

}
.top_categories ul li{
    display: flex;
   justify-content: space-between;
   align-items: center;

}
.top_categories ul li span{ 
    width: 0.7rem;
    aspect-ratio: 1/1;
    background:#3c037e;
    border-radius: 50%;
     display: block;
   

}

.top_categories ul li:nth-child(2) span{ 
    background: var(--color-purple);
}

.top_categories ul li:nth-child(3) span{  
background: var(--color-success);
}

.top_categories ul li:nth-child(4) span{ 
  background: var(--color-info);

}

.top_categories ul li div{ 
  display: flex;
  align-items: center;
  gap: 0.8rem;

}

.top_categories button{ 
margin-top: 0.7rem;
padding: 0.7rem;
text-align: center;
width: 100%;
border-radius: var(--radius-1);
background: var(--color-gray-50);
color: var(--color-gray-900);
}

/**----------------------------upcoming events------------------------**/

.next_Events{
    background:var(--color-gray-0);
    padding: 1rem;
    border-radius: var(--radius-2);
    
}
.next_Events header {
   display: flex;
   justify-content: space-between;
   align-items: center;
    
}

.next_Events header i{
   font-size: 1rem;
    
}

.next_Events_images{
   margin: 1rem 0;
   border-radius: var(--radius-2);
   height: 10rem;
    overflow: hidden;
  
    
}
.next_Events ul{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  
}

.next_Events ul li{
  display: flex;
  gap: 1rem;
  align-items: center;
  box-shadow: 0 0 1rem var(--color-gray-100);
  padding: 0.5rem;
  border-radius: var(--radius-2);
    
}
.event_image {
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: var(--radius-1);
    overflow: hidden;

}
.next_Events button{
    padding: 0.7rem;
    text-align: center;
    width: 100%;
    border-radius: var(--radius-1);
    background: var(--color-gray-50);
    margin-top: 1rem;
}




 /**==================Media queryfor tablets===========**/
 @media screen and (max-width:1024px) {
    body{
        .sidebar{
            width: fit-content;
        }
    }
    .sidebar h3, .sidebar h5{
        display: none;

    }

    .sidebar a{
        padding: 0.7rem;
    }
    .navbar_search {
        width: 40vw;
    }
    .top_products{
        margin-bottom: 0;
    }
    .top_categories{
        margin-top: 0;
    }
    .main_wrapper{
        grid-template-columns: 1fr;
    }
    .next_Events{
        margin-bottom: 3rem;
    }
    
 }

  /**==================Media queryfor Phones===========**/
  @media screen and (max-width:600px){

    body{
        padding: 0.6rem;

    }

    .sidebar_toggle_open,

   .sidebar_toggle_close{
    display: inline-block;
    width: 3rem;
    aspect-ratio: 1/1;
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    border-radius: var(--radius-2);
    background: var(--color-gray-900);
    color: var(--color-gray-0);
    font-size: 1.5rem;
    z-index: 2;
}

 .sidebar_toggle_close{
        display: none;

    }
    .sidebar{
        background: var(--color-gray-50);
        max-width: 15rem;
        position: fixed;
        bottom: 0;
        left: -100%;
        box-shadow: 2rem -2rem rgba(0, 0, 0, 0.15);
        height: fit-content;
        width: 25rem;
        border-radius:0 var(--radius-2) 0 0;
        z-index: 1;
        transition: var(--transition);

    }
    .sidebar a{
        border-radius: 0;
    }

    .sidebar a:hover {
        transform: translateX(0);
    }

    .sidebar_logo {
        margin-bottom: 1rem;

    }
    .sidebar_logo  h3, .sidebar h5{
        display: inline;
    }
    .sidebar_bottom{
        margin-top: 2rem;
    }
   
    .navbar_search{
        width: 100%;
    }

    .navbarxplore_btn{
        display: none;

    }
    .cards{
        grid-template-columns: 1fr;
    }
    .card::before{
        right: -10%;
        top: -2%;
    }
    .card::after{
        right: -10%;
        
    }

    table thead tr{
        display:flex;
        flex-direction: column;

    }
    table thead tr th{
        text-align: left;

    }
    table tbody tr{
        display: flex;
        flex-direction: column;
        width: 100%;
    }


   
    
  }

